
.vs/Weather/DesignTimeBuild/.dtbcache
.vs/Weather/v15/.suo
.vs/Weather/v15/Server/sqlite3/db.lock
.vs/Weather/v15/Server/sqlite3/storage.ide
.vs/Weather/v15/Server/sqlite3/storage.ide-shm
.vs/Weather/v15/Server/sqlite3/storage.ide-wal
.vs/IdentityServer/v15/Server/sqlite3/db.lock
.vs/IdentityServer/v15/Server/sqlite3/storage.ide
.vs/IdentityServer/v15/Server/sqlite3/storage.ide-shm
.vs/IdentityServer/v15/Server/sqlite3/storage.ide-wal
