USE [master]
GO
/****** Object:  Database [cms_VKTTV]    Script Date: 7/12/2019 12:01:10 AM ******/
CREATE DATABASE [cms_VKTTV]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'cms_VKTTV', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cms_VKTTV.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'cms_VKTTV_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\cms_VKTTV_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [cms_VKTTV].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [cms_VKTTV]
GO
/****** Object:  User [IIS APPPOOL\Weather]    Script Date: 7/12/2019 12:01:10 AM ******/
CREATE USER [IIS APPPOOL\Weather] FOR LOGIN [IIS APPPOOL\Weather] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [IIS APPPOOL\Weather]
GO
/****** Object:  Table [dbo].[aspnet_Membership]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Membership](
	[UserId] [uniqueidentifier] NOT NULL,
	[Password] [varchar](128) NULL,
	[PasswordSalt] [varchar](128) NULL,
	[FullName] [nvarchar](512) NULL,
	[ShortName] [nvarchar](512) NULL,
	[NickName] [nvarchar](512) NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[Phone] [varchar](512) NULL,
	[Email] [varchar](512) NULL,
 CONSTRAINT [PK__aspnet_M__1788CC4C70E5A222] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Rights]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Rights](
	[RightId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RightId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Roles]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Roles](
	[RoleId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Description] [nvarchar](128) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Roles_Rights_Relationship]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Roles_Rights_Relationship](
	[Id] [uniqueidentifier] NOT NULL,
	[RoleId] [uniqueidentifier] NOT NULL,
	[RightId] [uniqueidentifier] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[aspnet_Users]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[aspnet_Users](
	[UserId] [uniqueidentifier] NOT NULL,
	[Username] [varchar](128) NOT NULL,
	[SimpleAuth] [uniqueidentifier] NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK__aspnet_U__1788CC4C0C2AB95A] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_API]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_API](
	[APIId] [uniqueidentifier] NOT NULL,
	[APICode] [nvarchar](max) NULL,
	[Name] [nvarchar](max) NULL,
	[Price] [int] NULL,
	[Duration] [int] NULL,
	[DurationText] [nvarchar](max) NULL,
	[APITypeId] [uniqueidentifier] NOT NULL,
	[Body] [nvarchar](max) NULL,
	[Documentation] [nvarchar](max) NULL,
	[DocumentationLink] [nvarchar](max) NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_cms_API] PRIMARY KEY CLUSTERED 
(
	[APIId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_API_Membership_Relationship]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_API_Membership_Relationship](
	[Id] [uniqueidentifier] NOT NULL,
	[APIId] [uniqueidentifier] NULL,
	[UserId] [uniqueidentifier] NULL,
	[FromDate] [date] NULL,
	[ToDate] [date] NULL,
	[TotalPrice] [int] NULL,
	[AccessToken] [uniqueidentifier] NULL,
	[AccessCode] [varchar](6) NULL,
 CONSTRAINT [PK_cms_API_Membership_Relationship] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_APIType]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_APIType](
	[APITypeId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_cms_APIType] PRIMARY KEY CLUSTERED 
(
	[APITypeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_Bill]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_Bill](
	[BillId] [uniqueidentifier] NOT NULL,
	[UserId] [uniqueidentifier] NOT NULL,
	[TotalPrice] [int] NOT NULL,
	[CreatedOnDate] [datetime2](7) NOT NULL,
	[Paid] [bit] NOT NULL,
	[PaidOnDate] [datetime2](7) NULL,
 CONSTRAINT [PK_cms_Bill] PRIMARY KEY CLUSTERED 
(
	[BillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_Bill_API]    Script Date: 7/12/2019 12:01:10 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_Bill_API](
	[Id] [uniqueidentifier] NOT NULL,
	[BillId] [uniqueidentifier] NOT NULL,
	[APIId] [uniqueidentifier] NOT NULL,
	[FromDate] [datetime2](7) NOT NULL,
	[ToDate] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_cms_Bill_API] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_News]    Script Date: 7/12/2019 12:01:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_News](
	[NewsId] [uniqueidentifier] NOT NULL,
	[NewsCategory] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Location] [nvarchar](max) NULL,
	[FinishedDate] [datetime2](7) NULL,
	[WriterId] [nvarchar](max) NULL,
	[WriterName] [nvarchar](max) NULL,
	[Introduction] [nvarchar](max) NULL,
	[Body] [nvarchar](max) NULL,
	[ApprovedStatus] [bit] NULL,
	[CreatedByUserId] [uniqueidentifier] NULL,
	[CreatedOnDate] [datetime2](7) NULL,
	[Thumbnail] [varchar](max) NULL,
 CONSTRAINT [PK__cms_News__954EBDF31DD35339] PRIMARY KEY CLUSTERED 
(
	[NewsId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[cms_NewsCategory]    Script Date: 7/12/2019 12:01:11 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cms_NewsCategory](
	[NewsCategoryId] [uniqueidentifier] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[NewsCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[aspnet_Membership] ([UserId], [Password], [PasswordSalt], [FullName], [ShortName], [NickName], [RoleId], [Phone], [Email]) VALUES (N'691b8a4c-2e62-42c9-a796-6267559e53ad', N'60145b511516f951a5d7de79d410e03f6ba19992c4b51cbe17aa7082156c66e0', N'gglbiTJnhL5sp3DN6Atr7pA4zBKWFGT8wkZLKrtHPls=', N'Nguyễn Quang Huy', N'Q/Huy', NULL, N'cc3def5c-c6e2-47be-bf38-09c1c8f6b341', NULL, NULL)
INSERT [dbo].[aspnet_Membership] ([UserId], [Password], [PasswordSalt], [FullName], [ShortName], [NickName], [RoleId], [Phone], [Email]) VALUES (N'9ace3dc3-8710-4028-b434-7ed0211f4dec', N'6f918310fbfe0d3aaa8a55f0381e7b9bd3b83ff4f68c53c7629dba98dc20193e', N'8yrq28347yoidfuhao78yfaoahsdigy78', N'Quản trị hệ thống', N'Admin', N'Admin', N'4819f98f-18c0-4778-959d-9dc4625664cf', NULL, NULL)
INSERT [dbo].[aspnet_Membership] ([UserId], [Password], [PasswordSalt], [FullName], [ShortName], [NickName], [RoleId], [Phone], [Email]) VALUES (N'b6372d6a-a331-4c5d-bf4f-a84cf05a9c05', N'b2b8551aec77927a0f0269b63cfd780f271ae2fb221a0562588d048dbeeb3e90', N'awieoruoijkl7s6f8783sdef09', N'Dang Duc Trung', N'Trung Dang', N'TrungDD', N'cc3def5c-c6e2-47be-bf38-09c1c8f6b341', N'0830000000', N'trung******@gmail.com')
INSERT [dbo].[aspnet_Rights] ([RightId], [Name], [Description]) VALUES (N'b9c5aea9-19eb-4861-8eeb-b08fbc42e082', N'Duyệt tin', N'Duyet tin')
INSERT [dbo].[aspnet_Rights] ([RightId], [Name], [Description]) VALUES (N'ee01b3eb-4856-4808-ad65-c0c57074e038', N'Viết tin bài', N'Viet tin')
INSERT [dbo].[aspnet_Rights] ([RightId], [Name], [Description]) VALUES (N'eba4b6cd-9cff-44b5-b066-e824c5e55207', N'Tạo tài khoản', N'Tao TK')
INSERT [dbo].[aspnet_Roles] ([RoleId], [Name], [Description]) VALUES (N'cc3def5c-c6e2-47be-bf38-09c1c8f6b341', N'Người viết tin bài', N'VietTB')
INSERT [dbo].[aspnet_Roles] ([RoleId], [Name], [Description]) VALUES (N'4819f98f-18c0-4778-959d-9dc4625664cf', N'Quản trị hệ thống', N'QTHT')
INSERT [dbo].[aspnet_Roles_Rights_Relationship] ([Id], [RoleId], [RightId]) VALUES (N'6e63201d-899a-46be-9a18-06d58c45d6de', N'4819f98f-18c0-4778-959d-9dc4625664cf', N'b9c5aea9-19eb-4861-8eeb-b08fbc42e082')
INSERT [dbo].[aspnet_Roles_Rights_Relationship] ([Id], [RoleId], [RightId]) VALUES (N'ef67f5c6-ed9c-4965-ada0-4548a8fe4948', N'4819f98f-18c0-4778-959d-9dc4625664cf', N'ee01b3eb-4856-4808-ad65-c0c57074e038')
INSERT [dbo].[aspnet_Roles_Rights_Relationship] ([Id], [RoleId], [RightId]) VALUES (N'b3625525-4689-44ed-8412-5440cc51010b', N'4819f98f-18c0-4778-959d-9dc4625664cf', N'eba4b6cd-9cff-44b5-b066-e824c5e55207')
INSERT [dbo].[aspnet_Users] ([UserId], [Username], [SimpleAuth], [IsActive]) VALUES (N'eced007d-e9ef-4b19-8c83-070fe84720df', N'sonha', N'cd9a545d-9682-4ba7-849d-3ba34690191d', 1)
INSERT [dbo].[aspnet_Users] ([UserId], [Username], [SimpleAuth], [IsActive]) VALUES (N'691b8a4c-2e62-42c9-a796-6267559e53ad', N'nguyenhuy', N'ca3fe180-b0da-4dae-9715-f1864989079b', 1)
INSERT [dbo].[aspnet_Users] ([UserId], [Username], [SimpleAuth], [IsActive]) VALUES (N'9ace3dc3-8710-4028-b434-7ed0211f4dec', N'admin', N'10e2662b-04dd-4163-896b-a60fa280333e', 1)
INSERT [dbo].[cms_API] ([APIId], [APICode], [Name], [Price], [Duration], [DurationText], [APITypeId], [Body], [Documentation], [DocumentationLink], [IsActive]) VALUES (N'31824248-7fed-40b1-9f8b-34afd1eae208', N'API_HAIVAN', N'Hải văn thử nghiệm', 300000, 1, N'1 tháng', N'e28eafa0-7b81-4dd3-b027-1e6bdef80b07', N'', N'', N'', 0)
INSERT [dbo].[cms_API] ([APIId], [APICode], [Name], [Price], [Duration], [DurationText], [APITypeId], [Body], [Documentation], [DocumentationLink], [IsActive]) VALUES (N'b51cf342-4a1d-4fd9-a61f-856bf3ba4337', N'API_TVDB2', N'Thủy văn đặc biệt 1', 540000, 6, N'6 tháng', N'011ecdf1-d695-4e3c-a5c9-1fcb6afe70f5', N'', N'', N'', 0)
INSERT [dbo].[cms_API] ([APIId], [APICode], [Name], [Price], [Duration], [DurationText], [APITypeId], [Body], [Documentation], [DocumentationLink], [IsActive]) VALUES (N'1d8ac7aa-94de-41cb-9a95-b22cb2c6907a', N'API_TEST', N'Thử nghiệm lưu trữ', 100000, 2, N'2 tháng', N'b79776dd-5480-4ed0-8268-f1e595b4a6d3', N'<p>return &quot;Hello World!&quot;;</p>
', N'<p>Kh&ocirc;ng c&oacute; HDSD</p>
', N'https://www.google.com.vn/', 1)
INSERT [dbo].[cms_APIType] ([APITypeId], [Name]) VALUES (N'e28eafa0-7b81-4dd3-b027-1e6bdef80b07', N'Hải văn')
INSERT [dbo].[cms_APIType] ([APITypeId], [Name]) VALUES (N'011ecdf1-d695-4e3c-a5c9-1fcb6afe70f5', N'Thủy văn đặc biệt')
INSERT [dbo].[cms_APIType] ([APITypeId], [Name]) VALUES (N'645bda56-1ce5-41d5-9263-63c59fc1f78c', N'Thủy văn')
INSERT [dbo].[cms_News] ([NewsId], [NewsCategory], [Name], [Location], [FinishedDate], [WriterId], [WriterName], [Introduction], [Body], [ApprovedStatus], [CreatedByUserId], [CreatedOnDate], [Thumbnail]) VALUES (N'a74c307b-3e86-430f-a875-9160629c8bbb', N'3af42b3e-5e0c-4f30-bdce-9b020ee4b0c3', N'Test card deck', N'Ha Noi', NULL, NULL, N'Trung Dang', N'Test card deck', N'<p>Test card deck</p>
', 0, N'b6372d6a-a331-4c5d-bf4f-a84cf05a9c05', CAST(N'2019-07-07T10:42:40.1431509' AS DateTime2), N'')
INSERT [dbo].[cms_NewsCategory] ([NewsCategoryId], [Name], [Description]) VALUES (N'3af42b3e-5e0c-4f30-bdce-9b020ee4b0c3', N'Tin thời tiết', N'TT')
INSERT [dbo].[cms_NewsCategory] ([NewsCategoryId], [Name], [Description]) VALUES (N'dac7f4bf-b0c0-4003-bde0-d5eeea71ba03', N'Tin nội bộ', N'NB')
INSERT [dbo].[cms_NewsCategory] ([NewsCategoryId], [Name], [Description]) VALUES (N'328e5dbf-966a-4fbd-8642-e5a6f2be6033', N'Tin Xã hội', N'XH')
ALTER TABLE [dbo].[aspnet_Users] ADD  CONSTRAINT [DF_aspnet_Users_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[cms_API] ADD  CONSTRAINT [DF_cms_API_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[cms_Bill] ADD  CONSTRAINT [DF_cms_Bill_Paid]  DEFAULT ((0)) FOR [Paid]
GO
ALTER TABLE [dbo].[aspnet_Membership]  WITH CHECK ADD  CONSTRAINT [FK_aspnet_Membership_aspnet_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[aspnet_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[aspnet_Membership] CHECK CONSTRAINT [FK_aspnet_Membership_aspnet_Roles]
GO
ALTER TABLE [dbo].[aspnet_Roles_Rights_Relationship]  WITH CHECK ADD  CONSTRAINT [FK_aspnet_Roles_Rights_Relationship_aspnet_Rights] FOREIGN KEY([RightId])
REFERENCES [dbo].[aspnet_Rights] ([RightId])
GO
ALTER TABLE [dbo].[aspnet_Roles_Rights_Relationship] CHECK CONSTRAINT [FK_aspnet_Roles_Rights_Relationship_aspnet_Rights]
GO
ALTER TABLE [dbo].[aspnet_Roles_Rights_Relationship]  WITH CHECK ADD  CONSTRAINT [FK_aspnet_Roles_Rights_Relationship_aspnet_Roles] FOREIGN KEY([RoleId])
REFERENCES [dbo].[aspnet_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[aspnet_Roles_Rights_Relationship] CHECK CONSTRAINT [FK_aspnet_Roles_Rights_Relationship_aspnet_Roles]
GO
ALTER TABLE [dbo].[cms_API]  WITH CHECK ADD  CONSTRAINT [FK_cms_API_cms_APIType] FOREIGN KEY([APITypeId])
REFERENCES [dbo].[cms_APIType] ([APITypeId])
GO
ALTER TABLE [dbo].[cms_API] CHECK CONSTRAINT [FK_cms_API_cms_APIType]
GO
ALTER TABLE [dbo].[cms_API_Membership_Relationship]  WITH CHECK ADD  CONSTRAINT [FK_cms_API_Membership_Relationship_aspnet_Membership] FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Membership] ([UserId])
GO
ALTER TABLE [dbo].[cms_API_Membership_Relationship] CHECK CONSTRAINT [FK_cms_API_Membership_Relationship_aspnet_Membership]
GO
ALTER TABLE [dbo].[cms_API_Membership_Relationship]  WITH CHECK ADD  CONSTRAINT [FK_cms_API_Membership_Relationship_cms_API] FOREIGN KEY([APIId])
REFERENCES [dbo].[cms_API] ([APIId])
GO
ALTER TABLE [dbo].[cms_API_Membership_Relationship] CHECK CONSTRAINT [FK_cms_API_Membership_Relationship_cms_API]
GO
ALTER TABLE [dbo].[cms_Bill]  WITH CHECK ADD  CONSTRAINT [FK_cms_Bill_aspnet_Membership] FOREIGN KEY([UserId])
REFERENCES [dbo].[aspnet_Membership] ([UserId])
GO
ALTER TABLE [dbo].[cms_Bill] CHECK CONSTRAINT [FK_cms_Bill_aspnet_Membership]
GO
ALTER TABLE [dbo].[cms_Bill_API]  WITH CHECK ADD  CONSTRAINT [FK_cms_Bill_API_cms_API] FOREIGN KEY([APIId])
REFERENCES [dbo].[cms_API] ([APIId])
GO
ALTER TABLE [dbo].[cms_Bill_API] CHECK CONSTRAINT [FK_cms_Bill_API_cms_API]
GO
ALTER TABLE [dbo].[cms_Bill_API]  WITH CHECK ADD  CONSTRAINT [FK_cms_Bill_API_cms_Bill] FOREIGN KEY([BillId])
REFERENCES [dbo].[cms_Bill] ([BillId])
GO
ALTER TABLE [dbo].[cms_Bill_API] CHECK CONSTRAINT [FK_cms_Bill_API_cms_Bill]
GO
ALTER TABLE [dbo].[cms_News]  WITH CHECK ADD  CONSTRAINT [FK_cms_News_aspnet_Membership] FOREIGN KEY([CreatedByUserId])
REFERENCES [dbo].[aspnet_Membership] ([UserId])
GO
ALTER TABLE [dbo].[cms_News] CHECK CONSTRAINT [FK_cms_News_aspnet_Membership]
GO
ALTER TABLE [dbo].[cms_News]  WITH CHECK ADD  CONSTRAINT [FK_cms_News_cms_NewsCategory] FOREIGN KEY([NewsCategory])
REFERENCES [dbo].[cms_NewsCategory] ([NewsCategoryId])
GO
ALTER TABLE [dbo].[cms_News] CHECK CONSTRAINT [FK_cms_News_cms_NewsCategory]
GO
USE [master]
GO
