<div class='row' style='padding-bottom: 10px;'>
  <div class='col-md-6 px-0'>
    <h4>Quản lý nhóm người dùng</h4>
  </div>
  <div class='col-md-6 d-flex justify-content-end align-items-center'>
    <button class='btn btn-default' (click)='button.Refresh.Click()'><i class='fas fa-redo'></i>&ensp;Tải lại</button>
    <button class='btn btn-primary' [disabled]='!isUpdate' (click)='button.Add.Click()'><i
        class='fas fa-plus'></i>&ensp;Thêm mới</button>
  </div>
</div>
<div class='row'>
  <div class='col-md-4 px-0' style="height: 700px;">
    <div class='card card-primary' style="height: 100%;">
      <div class='card-header'>Danh sách nhóm người dùng</div>
      <div class='card-body'>
        <div class='input-group' style='padding-bottom: 10px;'>
          <input type='text' class='form-control' placeholder="Tìm kiếm" [(ngModel)]='role_searchText'
            (keyup)="roleTree.treeModel.filterNodes(role_searchText)" (keydown.esc)='role_searchText=""'>
          <button type="button" *ngIf="role_searchText" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;"
            (click)='roleTree.treeModel.filterNodes(""); role_searchText=""'>
            <i class="fa fa-times"></i>
          </button>
        </div>
        <div style='overflow-y: scroll;'>
          <tree-root #roleTree [nodes]="roles" [options]="roleTreeOptions">
            <ng-template #treeNodeWrapperTemplate let-node>
              <div class="node-wrapper d-flex align-items-center" [ngClass]="{'active-background': node.data.RoleId == model.RoleId}" 
              style='padding-top: 2px;padding-bottom: 2px;' (click)="getRole(node.data.RoleId)">
                <tree-node-content [node]="node" [ngClass]="{'text-strong':true}"
                  [ngStyle]="{'padding-left': (node.hasChildren) ? '0px' : '15px'}">
                </tree-node-content>
              </div>
            </ng-template>
          </tree-root>
        </div>
      </div>
    </div>
  </div>
  <div class='col-md-8' style='max-height: 700px;'>
    <div class='card card-primary'>
      <div class='card-header'>Thông tin nhóm người dùng</div>
      <div class='card-body'>
        <form name='form' #form="ngForm" (ngSubmit)="Submit(form)" novalidate>
          <div class='row'>
            <div class='col-md-12 form-group'>
              <label>Tên nhóm người dùng<span class='required'>(*)</span></label>
              <input type='text' class='form-control' name='RoleName' #roleName='ngModel' [(ngModel)]="model.RoleName"
                placeholder="Mã người dùng/nhóm người dùng"
                [ngClass]="{ 'is-invalid': form.submitted && roleName.invalid }" required>
              <div *ngIf="form.submitted && roleName.invalid" class="required">
                <small class='form-error-text' *ngIf="roleName.errors.required">* Trường này không được bỏ
                  trống</small>
              </div>
            </div>
            <div class='col-md-12 form-group'>
              <label>Mô tả</label>
              <textarea class='form-control' name='description' #description='ngModel' [(ngModel)]="model.Description"
                placeholder="Mô tả về người dùng/nhóm người dùng"></textarea>
            </div>
            <div class='col-md-12 form-group'>
              <label>Phân quyền</label>
              <div class='input-group' style='padding-bottom: 10px;'>
                <input type='text' class='form-control' placeholder="Tìm kiếm" [(ngModel)]='right_searchText' [ngModelOptions]='{standalone: true}'
                  (keyup)="rightTree.treeModel.filterNodes(right_searchText)" (keydown.esc)='right_searchText = ""'>
                <button type="button" *ngIf="right_searchText!=''" class="btn bg-transparent" style="margin-left: -40px; z-index: 100;"
                  (click)='rightTree.treeModel.filterNodes("");right_searchText = ""'>
                  <i class="fa fa-times"></i>
                </button>
              </div>
              <div style='overflow-y: scroll;'>
                <tree-root id='rightTree' #rightTree [(state)]="rightTreeState" [nodes]="rights" [options]="rightTreeOptions" (initialized)="initRightTree(rightTree)">
                  <ng-template #treeNodeWrapperTemplate let-node>
                    <div class="node-wrapper d-flex align-items-center" style='padding-top: 2px;padding-bottom: 2px;'>
                      <span *ngIf='node.hasChildren' (click)="node.data.IsGroup && node.toggleExpanded()">
                        <i class='fas fa-plus-square' style='padding-right: 6px; color: #007bff;'
                          [hidden]='node.isExpanded'></i>
                        <i class='fas fa-minus-square' style='padding-right: 6px; color: #007bff;'
                          [hidden]='!node.isExpanded'></i>
                      </span>
                      <tree-node-checkbox [node]="node" style='transform: scale(1.2);' (change)="rightTreeSelectionChange(form)">
                      </tree-node-checkbox>
                      <tree-node-content [node]="node"
                        [ngClass]="{'text-strong': node.data.IsGroup, 'text-deleted': !node.data.Status}"
                        [ngStyle]="{'padding-left': '5px'}">
                      </tree-node-content>
                    </div>
                  </ng-template>
                </tree-root>
              </div>
            </div>
          </div>
          <div class='col-md-12'>
            <button class='btn btn-primary' type='submit' [disabled]="!form.dirty || form.invalid"><i
                class='fas fa-save'></i>&ensp;Lưu</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
