body {
    background-image: url('CookedCrazyCrayfish-poster.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

body, html{
    margin:0;
    padding:0;
    height: 100%;
}

.row{
    margin: 0;
    height: 100%;
}

.login-panel{
    padding: 10px;
    background-color: white;
    border: 2px solid silver;
    box-shadow: 2px 2px;
    border-radius: 10px;

    position: relative;
    
}

